@import "../../css/mixins";

.avatarContainer {
  margin-left: 2rem;
  @include small-size {
    margin: 2rem 0 0;
  }
}

$avatar-size: 310px;
.avatar {
  display: block;
  width: $avatar-size;
  height: $avatar-size;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 999px;
  }

  & > div {
    border-radius: 999px;
    width: 100%;
    height: 100%;
    display: flex; // For consistent alignment of content inside
    align-items: center;
    justify-content: center;
  }

  @include small-size {
    margin: 0 auto;
  }
}
